@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	border: 0;
}
body{
	background-color: gray;
}
h1 {
	font-size: 30px;
}
h2, h3 {
	font-size: 20px;
}
#page-wrapper{
	font-size: 9px;
	font-family : 'Hahmlet', serif;
	width: 800px;
	height: 500px;
	margin: auto;
}

#content > h1 {
    font-family: '국립박물관문화재단클래식B';
	text-align: center;
	background-color: white;
	width: 300px;
	display: inline-block;
	margin: 40px 250px;
	background-color: rgba(255,255,255,0.5);
}

#content {
	position: relative;
	background: url("image/imgbp.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	overflow: hidden;
	display: none;
	border: 1px solid black;
}

#gamecontent{
	display: none;
	overflow: hidden;
}

.tab-title {
	position: absolute;
	bottom: 50px;
	left: 100px;
	font-weight: bold;
    font-family: 'CookieRun-Regular';
}

label{
	float: left;
	background-color: whitesmoke;
	display: block;
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 100px;
	margin: 5px;
	border-radius: 10px;
	border: 3px solid black;
	font-size: 20px;
	font-weight: bold;
}

.tab-title > label:hover {
	color: white;
	background-color: black;
}

button{
	width: 120px;
	height: 60px;
}

.option{
	overflow: hidden;
}

.option > h3 {
	text-align: center;
	margin: 5px;
}

#setting {
	text-align: center;
	display: none;
	background-color: lightpink;
	background-size: 200%
}

#gameinfo {
	position: relative;
	display: none;
	width: 800px;
	height: 500px;
	background-image: url(image/manuscript.jpg);
	background-size: 100%;
}

#showscore {
	position: relative;
	display: none;
	width: 800px;
	height: 500px;
	background-image: url(image/classic.jpg);
	background-size: 100%;
}

#infocontent{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
    font-family: 'CookieRun-Regular';
	color: white;

}

#infocontent h3{
	color: skyblue;
}

.highlight {
	display: inline;
	color: palevioletred;
}

#scorecontent{
	text-align: center;
    font-family: 'CookieRun-Regular';
	font-size: large;
	color: white;
}

.backmenu {
	font-family : 'Hahmlet', serif;
	border: 1px solid black;
	background-color: white;
	border-radius: 30px;

}

.backmenu:hover{
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.replaygame {
	font-family : 'Hahmlet', serif;
	border: 1px solid black;
	background-color: white;
	border-radius: 30px;
}

.replaygame:hover{
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.openscore {
	font-family : 'Hahmlet', serif;
	border: 1px solid black;
	background-color: white;
	border-radius: 30px;
}
.openscore:hover{
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.backimg {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	height: 70px;
	border: none;
}

.backimg:hover {
    transform: scale(1.2);
}

.popup {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
	padding: 10px 0px;
	z-index: 1;
	width: 550px;
	height: 300px;
	border: 5px ridge orange;
	border-radius: 15px;
	box-shadow: 0px 0px 20px blue;
}

.popup1 {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
	padding: 10px 0px;
	z-index: 1;
	width: 400px;
	height: 200px;
	border: 5px ridge blue;
	border-radius: 15px;
	box-shadow: 0px 0px 20px black;
	text-align: center;
}

#settingclose {
	position: absolute;
	top: 0;
	right: 0;
	background-color: lightpink;
	width: 35px;
	height: 35px;
	color: black;
	font-size: 30px;
	border: none;
}

#settingclose:hover {
	font-size: 35px;
}

#settingicon {
	position: absolute;
	right: 0;
}

#tonextlevel {
	display: none;
}

#tonextlevel > h3 {
	margin: 25px;
}

#okay {
	position: absolute;
	bottom: 10px;
	right: 15px;
	width: 60px;
	height: 40px;
}

.ctbox {
	color: white;
	border-radius: 30px;
	display: inline-block;
    width: 50px;
    height: 15px;
    line-height: 15px;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.ctbox:hover {
	width: 55px;
	height: 20px;
	margin-bottom: 0px;
}

.note:nth-of-type(1)  {
	margin-left: 208px;
}

.selectnote {
	background-color: white;
	border-radius: 30px;
}

.selectnote:hover {
	background-color: blue;
}

#music_volume {
	width: 300px;
}

#effect_volume {
	width: 300px;
}